{% extends 'base.html' %}
{% block title %}Add Course-Element Link - Dawson College Course Management{% endblock %}
{% block content %}
<h1 class="heading-align">Add Course-Element Link</h1>

<form method="post">
    <p><label class="celbl" for="course_id">Course:</label>
    <select id="course_id" name="course_id" required>
        <option value="" disabled selected>Select A Course</option><p>
    {% for term in terms %}
        <optgroup label="TERM {{term.term_id}} - {{term.term_name.upper()}}"></optgroup>
    {% for course in courses %}
    {% if course.term_id == term.term_id %}
        <option value="{{ course.course_id }}">&ensp;&ensp;{{ course.course_title }}</option>
    {% endif %}
    {% endfor %}
    {% endfor %}
    </select>

    <p><label class="celbl" for="element_id">Element:</label>
    <select id="element_id" name="element_id" required></p>
        <option value="" disabled selected>Select An Element</option>
    {% for competency in competencies %}
        <optgroup label="{{competency.competency_id.upper()}} - {{competency.competency.upper()|truncate(50, True, '...', 0)}}"></optgroup>
    {% for element in elements %}
    {% if element.competency_id == competency.competency_id %}
        <option value="{{ element.element_id }}">&ensp;&ensp;{{ element.element|truncate(60, True, '...', 0) }}</option>
    {% endif %}
    {% endfor %}
    {% endfor %}
    </select>

    <p><label class="celbl" for="element_hours">Element Hours:</label>
    <input type="number" min="0" step="0.01" id="element_hours" name="element_hours" required/></p>

    <p><input type="submit" /></p>
</form>
{% endblock %}